<p>Id: <%= @tour.id %></p>
<p>Title: <%= @tour.title %></p>
<p class="img-tour">Image <img src=<%= @tour.image_url %>></p>
<p>Price: <%= @tour.price %></p>
<p>Description: <%= @tour.description %></p>
<p>Tour type: <%= @tour.tour_type %></p>
<p>Start date: <%= @tour.start_date %></p>
<p>End date: <%= @tour.end_date %></p>
<p>Time in day: <%= @tour.time_in_day %></p>
<p>Limit member: <%= @tour.limit_member %></p>
